.personal {
  color:#EEE;
  padding: 10vh 0 10vh 0;
  text-align: center;
  height: 100vh;
}

.personal svg {
  margin: 0.5em;
}

figure.self-photo > img {
  border-radius: 50%;
  margin: auto;
  width: 10rem;
}
